
body {
  background-color: #000033;
}

h1 {
  color: white;
}

#board {
  margin-top: 10px;

}

.box {
  border: 1px solid #B0B0B0;
  height: 150px;
  text-align: center;
  font-size: 100px;
  font-family: 'Indie Flower', cursive;
  color: white;
}
#box0, #box1, #box2 {
  border-top: none;
}
#box0, #box3, #box6 {
  border-left: none;
}
#box2, #box5, #box8 {
  border-right: none;
}
#box6, #box7, #box8 {
  border-bottom: none;
}
